* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  background: #faf7f2;
  background-image: url(https://s3.postimg.org/s1n3ji1ur/paper_fibers_2_X.png);
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.subtle {
  color: #aaa;
}

.main-card--cointainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 20px 0 20px;
}

.card-container {
  margin: 0;
  position: relative;
  display: flex;
  height: 100%;
}

.card-container img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-number {
  margin-top: 15px;
}

.card-circle {
  border: 1px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 25px;
}

.card-author {
  display: block;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}

.card-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
  text-transform: capitalize;
}

.card-description {
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
  flex-grow: 1;
}

.card-tag {
  display: block;
  margin: 15px auto 0;
  border: 1px solid #aaa;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  background-color: #fff;
  transition: all 0.3s ease;
}

.card-tag:hover {
  background: #aaa;
  color: black;
}

.card-media {
  max-width: 100%;
  height: auto;
}

@media (max-width: 998px) {
  .main-card--cointainer {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media (max-width: 768px) {
  .main-card--cointainer {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

/* ---------- Button styles ------------------ */

.navbar {
  padding-top: 50px;
  text-align: center;
}

.navbar h1 {
  padding-bottom: 20px;
  text-transform: capitalize;
}

/** button group styles **/
.btn-group {
  border-radius: 1rem;
  text-transform: capitalize;
}
.btn-group__item {
  border: none;
  /* min-width: 6rem; */
  padding: 1.5rem 3rem;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 0;
  font-size: 17px;
  box-shadow: inset 0px 0px 0px -15px rebeccapurple;
  transition: all 300ms ease-out;
  text-transform: capitalize;
}
.btn-group__item:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.btn-group__item:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.btn-group__item:hover,
.btn-group__item:focus {
  color: rebeccapurple;
  box-shadow: inset 0px -20px 0px -15px rebeccapurple;
}
.btn-group__item:focus {
  outline: none;
}
.btn-group__item:after {
  content: "✔️";
  margin-left: 0.5rem;
  display: inline-block;
  color: rebeccapurple;
  position: absolute;
  transform: translatey(10px);
  opacity: 0;
  transition: all 200ms ease-out;
}
.btn-group__item--active:after {
  opacity: 1;
  transform: translatey(-2px);
}
